<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Tämä on kryptoKlubi Eleutheria</h2>
                <p>Powered by <a href="https://lohko.help">Lohko.help</a></p>
                <ul class="actions">
                    <li><a href="#content" class="button big special">Ilmoittaudu mukaan!</a></li>
                    <li><a href="#elements" class="button big alt">Lue lisää</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
