<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Tämä on TietoKlubi Eleutheria</h2>
                <p>Vapaan ihmisen avoin FOSS/Web 3.0 yhteisö ja oppimisympäristö by <a href="https://lohko.help">Lohko.help</a></p>
                <ul class="actions">
                    <li><a href="mailto:eleutheria.network@proton.me" class="button big special">Ilmoittaudu mukaan</a></li>
                    <li><a href="#one" class="button big alt">Lue lisää</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
